<%= form_for(@seo_page) do |f| %>
  <% if @seo_page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seo_page.errors.count, "error") %> prohibited this Seo Page from being saved:</h2>

      <ul>
      <% @seo_page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p class="seo-info">
    Fields max length is 255 character.
  </p>

  <div class="field">
    <%= f.label :url_identifier %><br>
    <%= f.text_field :url_identifier %>
  </div>

  <div class="field">
    <%= f.label :page_title %><br>
    <%= f.text_area :page_title, rows: 5, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :meta_keywords %><br>
    <%= f.text_area :meta_keywords, rows: 5, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :meta_description %><br>
    <%= f.text_area :meta_description, rows: 5, cols: 40 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
