<h1>Listing Seo Pges</h1>

<table class="seo-table">
  <thead>
    <tr>
      <th>Url</th>
      <th>Page title</th>
      <th>Meta keywrods</th>
      <th>Meta description</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td> Default </td>
      <td><%= @seo_defaults.page_title %></td>
      <td><%= @seo_defaults.meta_keywords %></td>
      <td><%= @seo_defaults.meta_description %></td>
      <td></td>
      <td><%= link_to 'Edit', edit_seo_page_default_path(@seo_defaults) %></td>
      <td></td>
    </tr>
    <% @seo_pages.each do |seo_page| %>
      <tr>
        <td><%= seo_page.url_identifier %></td>
        <td><%= seo_page.page_title %></td>
        <td><%= seo_page.meta_keywords %></td>
        <td><%= seo_page.meta_description %></td>
        
        <td><%= link_to 'Show', seo_page %></td>
        <td><%= link_to 'Edit', edit_seo_page_path(seo_page) %></td>
        <td><%= link_to 'Destroy', seo_page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seo page', new_seo_page_path %>
